/* PROMO VID */
/* vid not yet fully responsive */
.promo_container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio of 16:9 for responsive video */
}


.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .video-container video {
    height: auto;
    width: auto;
    max-width: none;
  }
}

@media screen and (max-width: 600px) {
  .promo_container {
    padding-bottom: 100%; /* Aspect ratio of 1:1 for square video */
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/* ABOUT */
.about_container {
  position: relative;
  margin-bottom: 3rem;
  padding: 5% 10% 5% 10%;
}

.about_container {
  position: relative;
  margin-bottom: 3rem;
  padding: 5% 10% 5% 10%;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 3rem;
}

.about-text h1 {
  color: #000;
  text-align: left;
  padding-bottom: 2rem;
}

.about-text p {
  color: #000;
  text-align: left;
  font-weight: 300;
  font-size: 1.2rem;
}

.about-image {
  text-align: center;
}

.about-image img:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
}


/* OUR TEAM */

.team_container {
  background: linear-gradient(90deg, rgba(177, 0, 1, 1) 0%, rgba(255, 158, 12, 1) 100%);
  color: #fff;
  /* background-image: url(../images/aboutus_pics/group.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  padding: 5% 10% 5% 10%;
  position: relative;
}

.team_container h1 {
  text-align: center;
  padding: 2rem;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.055);
  width: calc(50% - 20px);
  max-width: 280px; /* Added max-width for smaller screens */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.card:hover {
  animation: cardanim 200ms forwards;
}

@keyframes cardanim {
  100% {
      border: 1px solid #fff;
  }
}

.card img {
  width: 100%;
  filter: saturate(40%);
  border-radius: 10px;
}

.card:hover img {
  filter: saturate(1.5);
  animation: imganim 200ms forwards;
}

@keyframes imganim {
  100% {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}


.card-info {
  padding: 15px 10px 0px 10px;
  text-align: center;
}

.card-info h3,
p {
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* Adjust card width for larger screens */
  .card {
    width: calc(33.33% - 20px);
    max-width: 280px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    padding: 10px;
  }
}